<%= render 'partials/header' %>
<%= stylesheet_link_tag "home", "data-turbo-track": "reload" %>

<br>
<h1 style="text-align:center"><%= @category %></h1>

<div style="display:flex; justify-content:center; flex-wrap:wrap; gap:2em">

<% Product.all.each do |product|%>
<% if product.category == @category%>
  <% unless Booking.exists?(product_id: product.id) %>
      <div class="card" style="width: 18rem;">
        <%= image_tag product.image, class:'card-img-top' if product.image.attached? %>
        <div class="card-body">
          <h5 class="card-title"><%=product.name%></h5>
          <p class="card-text"><%=product.description%>.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="text-secondary" style="text-transform:capitalize">Price:</span> <%=product.price%> INR</li>
          <li class="list-group-item"><span class="text-secondary">Category:</span> <%= product.category%></li>
        </ul>
        <div class="card-body" style="display:flex; justify-content:flex-end">
          <%= link_to 'Checkout', checkout_path(user_id:current_user.id, product_id:product.id), class:"btn btn-outline-success" %>
          <%= link_to 'Buy', new_booking_path(user_id:current_user.id, product_id:product.id) , class:'btn btn-primary mx-2' %>
        </div>
      </div>
  <%end%>
<%end%>
<%end%>

</div>


<br><br>

<%= link_to 'Back', home_index_path , class:'btn btn-secondary' %>
<br>
<%= render 'partials/footer' %>
