<%= render 'partials/header' %>
<%= stylesheet_link_tag "home", "data-turbo-track": "reload" %>

<section class="buy my-5">
  <div class="container-lg">

    <h1 class="text-center fw-bold">Categories</h1>

    <div style="display:flex; flex-wrap:wrap; gap:1em; justify-content:center">

      <div class="card" style="width: 15rem;">
        <div style="width:100%; height:130px">
          <img src="https://images.pexels.com/photos/5905522/pexels-photo-5905522.jpeg?auto=compress&cs=tinysrgb&w=1600" class="card-img-top" alt="..." style="width:100%; height:100%; object-fit:cover">
        </div>
        <div class="card-body">
          <h5 class="card-title">Study Material</h5>
          <span class="center-btn">
            <%= link_to 'Explore', home_explore_path(category: 'Study Material'), class: 'btn btn-success' %>
          </span>
        </div>
      </div>

      <div class="card" style="width: 15rem;">
        <div style="width:100%; height:130px">
          <img src="https://images.pexels.com/photos/1350789/pexels-photo-1350789.jpeg?auto=compress&cs=tinysrgb&w=1600" class="card-img-top" alt="..." style="width:100%; height:100%; object-fit:cover">
        </div>
        <div class="card-body">
          <h5 class="card-title">Furniture</h5>
          <span class="center-btn">
          <%= link_to 'Explore', home_explore_path(category:'Furniture') , class:'btn btn-success' %>
          </span>
        </div>
      </div>

      <div class="card" style="width: 15rem;">
        <div style="width:100%; height:130px">
          <img src="https://images.pexels.com/photos/3018845/pexels-photo-3018845.jpeg?auto=compress&cs=tinysrgb&w=1600" class="card-img-top" alt="..." style="width:100%; height:100%; object-fit:cover">
        </div>
        <div class="card-body">
          <h5 class="card-title">Cosmetics</h5>
          <span class="center-btn">
          <%= link_to 'Explore', home_explore_path(category:'Cosmetics') , class:'btn btn-success' %>
          </span>
        </div>
      </div>

      <div class="card" style="width: 15rem;">
        <div style="width:100%; height:130px">
          <img src="https://images.pexels.com/photos/682933/pexels-photo-682933.jpeg?auto=compress&cs=tinysrgb&w=1600" class="card-img-top" alt="..." style="width:100%; height:100%; object-fit:cover">
        </div>
        <div class="card-body">
          <h5 class="card-title">Electronics</h5>
          <span class="center-btn">
          <%= link_to 'Explore', home_explore_path(category:'Electronics') , class:'btn btn-success' %>
          </span>
        </div>
      </div>

      </div>
    </div>


    <h1 style="text-align:center" class="fw-bold mt-3">Buy</h1>

    <div style="display:flex; justify-content:center; flex-wrap:wrap; gap:2em">

    <% Product.all.each do |product|%>
      <% unless Booking.exists?(product_id: product.id) %>
          <div class="card" style="width: 18rem;">
            <%= image_tag product.image, class:'card-img-top' if product.image.attached? %>
            <div class="card-body">
              <h5 class="card-title"><%=product.name%></h5>
              <p class="card-text"><%=product.description%>.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><span class="text-secondary" style="text-transform:capitalize">Price:</span> <%=product.price%> INR</li>
              <li class="list-group-item"><span class="text-secondary">Category:</span> <%= product.category%></li>
            </ul>
            <div class="card-body" style="display:flex; justify-content:flex-end">
              <%= link_to 'Checkout', checkout_path(user_id:current_user.id, product_id:product.id), class:"btn btn-outline-success" %>
              <%= link_to 'Buy', new_booking_path(user_id:current_user.id, product_id:product.id) , class:'btn btn-primary mx-2' %>
            </div>
          </div>
      <%end%>
    <%end%>

  </div>

</section>

<%= render 'partials/footer' %>
