
<%= stylesheet_link_tag 'login' %>

<div class="container-fluid" style="text-align:center; background-color:black; color:white;">
  <h1>ShareEasy</h1>
</div>

<div class="signup">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h2>Login</h2>
    <form class="form">
      <fieldset class="username">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </fieldset>
      <fieldset class="email">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </fieldset>
          <%= f.submit "Log in" ,class:"btn btn-primary" %>
              <span><b>Don't Have an Account?</b></span>
                  <%= link_to "Sign up", new_registration_path(resource_name), class:'btn btn-primary' %>
    </form>
</div>
<% end %>
