<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  <%= form.label "Product Name", style: "display: block" %>
  <%= form.text_field :name %>
</div>
<br>
<div>
   <%= form.label :image %>
   <%= form.file_field :image, id: 'image-input' %>
 </div>
<br>


<div id="preview" style="display:none">
  <img id="image-preview" src="#" alt="Image Preview" style="max-width:80%; max-height:30%">
</div>

<br>
  <div>
  <%= form.label :description, style: "display: block" %>
  <%= form.text_area :description , style: "width: 600px"%>
</div>
<br>
<div>
  <%= form.label "Price in Rupees", style: "display: block" %>
  <%= form.number_field :price %>
</div>
<br>
<div>

  <%= form.label :category, style: "display: block" %>
    <%= form.select :category, ['Cosmetics', 'Gaming', 'Household', 'Electronics','Hardware', 'Furniture', 'Study Material', 'Others'] %>
</div>


<%= form.hidden_field :user_id, value: current_user.id %>
<br>

  <div>
    <%= form.submit "Confirm Sell", class:"btn btn-success" %>
  </div>
  <br>
<% end %>


<script>
  $(document).ready(function() {
    // Listen for changes on the file input
    $('#image-input').on('change', function(e) {
      // Get the selected file
      var file = e.target.files[0];

      // Check if a file is selected
      if (file) {
        // Create a FileReader
        var reader = new FileReader();

        // Set up the FileReader to display the image preview when it's loaded
        reader.onload = function(e) {
          $('#image-preview').attr('src', e.target.result);
          $('#preview').show(); // Show the preview container
        };

        // Read the selected file as a data URL
        reader.readAsDataURL(file);
      } else {
        $('#preview').hide(); // Hide the preview container if no file is selected
      }
    });
  });
</script>
