<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  <%= form.label "Product Name", style: "display: block" %>
  <%= form.text_field :name %>
</div>
<br>
<div id="drag-and-drop-container" class="drag-and-drop-container">
  <%= form.file_field :image, id: 'image-input', class: 'hidden-input', onchange: 'previewImage(this)' %>
  <label for="image-input" class="drag-and-drop-label">
    <div class="dotted-box" id="image-preview">
      <span id="uploadText">Click to Upload Image</span>
      <img id="image-preview-img" src="#" alt="Image Preview" style="display:none;">
    </div>
  </label>
</div>


<br>
  <div>
  <%= form.label :description, style: "display: block" %>
  <%= form.text_area :description , style: "width: 600px"%>
</div>
<br>
<div>
  <%= form.label "Price in Rupees", style: "display: block" %>
  <%= form.number_field :price %>
</div>
<br>
<div>

  <%= form.label :category, style: "display: block" %>
    <%= form.select :category, ['Cosmetics', 'Gaming', 'Household', 'Electronics','Hardware', 'Furniture', 'Study Material', 'Others'] %>
</div>


<%= form.hidden_field :user_id, value: current_user.id %>
<br>

  <div>
    <%= form.submit "Confirm Sell", class:"btn btn-success" %>
  </div>
  <br>
<% end %>


<script>
  function previewImage(input) {
    var preview = document.getElementById('image-preview-img');
    var file = input.files[0];
    var reader = new FileReader();

    reader.onloadend = function () {
      preview.src = reader.result;
      preview.style.display = 'block';
    }

    if (file) {
      reader.readAsDataURL(file);
    } else {
      preview.src = '#';
      preview.style.display = 'none';
    }
  }
</script>
<!-- <script>
  $(document).ready(function() {
    // Listen for changes on the file input
    $('#image-input').on('change', function(e) {
      // Get the selected file
      var file = e.target.files[0];

      // Check if a file is selected
      if (file) {
        // Create a FileReader
        var reader = new FileReader();

        // Set up the FileReader to display the image preview when it's loaded
        reader.onload = function(e) {
          $('#image-preview').attr('src', e.target.result);
          $('#preview').show(); // Show the preview container
        };

        // Read the selected file as a data URL
        reader.readAsDataURL(file);
      } else {
        $('#preview').hide(); // Hide the preview container if no file is selected
      }
    });
  });
</script> -->

<script>



</script>
