<%= render 'partials/header' %>
<%= stylesheet_link_tag "home", "data-turbo-track": "reload" %>
<br>
  <%= link_to "Back", home_index_path, class:"btn btn-secondary", style:"margin-left:2em" %>
<h1 style="text-align:center">Sell Product</h1>
<br>
<div class="col d-flex justify-content-center">
<div class="card border-dark mb-3 center" style="text-align:center;  justify-content: center; width: 50rem; font-family:Georgia; padding: 1em">
  <%= render "form", product: @product %>
</div>
<br>
</div



<%= render 'partials/footer' %>
